.wrapper {
  display: flex;
  gap: 16px;
}

.bookImage .figure {
  width: 100%;
  height: 100%;
}

.miscWrapper {
  border-top: 1px solid #e1e7ea;
  border-bottom: 1px solid #e1e7ea;
  padding: 16px 0;
  margin-bottom: 24px;
}

.miscDescription {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 400px;
  row-gap: 12px;
}

.miscDescription figure {
  margin-right: 6px;
}

.miscDescription div {
  display: flex;
  align-items: center;
  color: #032b41;
  font-weight: 500;
  font-size: 14px;
  width: 50%;
}

.content h1 {
  font-size: 32px;
  color: #032b41;
  margin-bottom: 16px;
}

.content p {
  font-size: 16px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: bold;
}

.content h3 {
  font-size: 18px;
  color: #032b41;
  margin: 24px 0 14px 0;
  font-weight: 600;
}

.subTitle {
  font-size: 20px;
  color: #032b41;
  font-weight: 300;
  margin-bottom: 16px;
}

.readBtnWrapper {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.readBtnWrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 48px;
  background-color: #032b41;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  gap: 8px;
  transition: opacity 0.2 ease-in-out;
}

.addToLibrary div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 4px;
  color: #0365f2;
}

.addToLib a {
  color: #0365f2;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 2px;
  font-size: 18px;
  transition: color 0.2s;
}

.tagsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.tagsWrapper span {
  background-color: #f1f6f4;
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
  cursor: not-allowed;
  color: #032b41;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.description,
.author {
  color: #032b41;
  line-height: 1.5;
}

.description {
  margin-bottom: 16px;
}

.summaryWrapper {
  white-space: pre-line;
  line-height: 1.4;
  color: #032b41;
}

.playerTitle {
  color: #032b41;
  font-size: 24px;
  border-bottom: 1px solid #e1e7ea;
  margin-bottom: 32px;
  padding-bottom: 16px;
  line-height: 1.5;
  font-weight: bold;
}

.playerWrapper {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.playerContent {
  margin: 0 0 24px 0;
}

.audioWrapper {
  width: 100%;
  height: 80px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #042330;
  padding: 0 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9998;
}

.audioTrack__wrapper,
.audioCtrl__wrapper,
.audioPrg__wrapper,
.audioTrackDetails__wrapper {
  width: calc(100% / 3);
}

.audioTrack__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.audioTrack__wrapper figure {
  height: 100%;
}

.audioTrackDetails__wrapper {
  color: #fff;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}

.audioTrackDetails__wrapper div {
  color: #bac8ce;
}

.audioTrackDetails__wrapper span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.audioCtrl__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.skip {
  font-size: 30px;
  color: #fff;
  transition: all 0.2s;
  cursor: pointer;
}

.play,
.pause {
  font-size: 40px;
  color: #fff;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 50%;
}
.audioCtrl__wrapper button {
  border-radius: 50%;
  cursor: pointer;
}

.audioPrg__wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.audioPrg__wrapper div {
  color: #fff;
  font-size: 16px;
}
.prgBar {
  border-radius: 8px;
  height: 4px;
  max-width: 300px;
  width: 100%;
  cursor: pointer;
  outline: none;
  appearance: none;
}

@media (max-width: 1600px) {
  .wrapper,
  .playerWrapper {
    margin-left: 250px;
  }
}
