.navContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 64px;
  max-height: 1070px;
  margin: 0 auto;
  height: 100%;
  border-bottom: 1px solid #e1e7ea;
  height: 80px;
  z-index: 1;
}

/* Selected Book */
.sbContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 16px;
}

.sbInfo {
  display: flex;
  justify-content: space-between;
  width: calc((100% / 3) * 2);
  background-color: #fbefd6;
  border-radius: 4px;
  padding: 28px;
  margin-bottom: 24px;
  margin-left: 4px;
  gap: 24px;
  cursor: pointer;
}

.sbSubtitle {
  width: 35%;
  color: #032b41;
}

.sbLine {
  width: 1px;
  background-color: #bac8ce;
}

.sbInfo h3 {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 16px;
  color: #032b41;
}

.sbInfo p {
  font-size: 14px;
  color: #394547;
  margin-bottom: 16px;
  padding: 2px 0 0 2px;
}

.authorInfo {
  padding-right: 40px;
}

.sbHeader {
  font-size: 22px;
  color: #032b41;
  margin-bottom: 16px;
}

.sbImage {
  width: 140px;
  height: 140px;
}

.sbAudio {
  display: flex;
  align-items: center;
}

.sbAudio div {
  font-size: 16px;
  font-weight: 500;
  color: #032b41;
  padding-left: 6px;
}

/* Recommended Books */
.rbContainer {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  overflow-x: scroll;
  width: 100%;
  scroll-snap-type: x;
  margin: 28px 0;
}

.rbContainer::-webkit-scrollbar {
  display: none;
}

.recBooksHeader p {
  font-weight: 300;
  color: #394547;
  margin-bottom: 16px;
}

.rbTitle {
  font-size: 16px;
  font-weight: 700;
  color: #032b41;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-bottom: 8px;
}

.rbAuthor {
  font-size: 14px;
  color: #6b757b;
  font-weight: 300;
}

/* Book Card */
.bookCardContainer {
  cursor: pointer;
  position: relative;
  scroll-snap-align: start;
  padding: 32px 12px 12px;
  border-radius: 4px;
  max-width: 200px;
  width: 100%;
}

.bookCardContainer:hover {
  background-color: #f1f6f4;
  height: 375px;
  border-radius: 4px 4px 4px 4px;
}

.bookCardContainer figure {
  width: 172px;
  height: 172px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageLink {
  width: 100%;
  height: 100%;
}

.bookInfoContainer p {
  font-size: 14px;
  color: #394547;
  margin: 8px 0;
  text-align: left;
}

.bookCardMisc {
  display: flex;
  gap: 8px;
}

.bookDetails {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 300;
  color: #6b757b;
}

.subPill {
  background-color: #032b41;
  width: fit-content;
  height: 18px;
  padding: 0 8px;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

@media (max-width: 1600px) {
  .sbContainer,
  .recommendedContainer {
    width: 100%;
    margin-left: 200px;
  }
}

@media (max-width: 768px) {
  .sbContianer,
  .sbContainer h1 {
    max-width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .sbInfo {
    max-width: 700px;
  }
}
