.navContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 64px;
  max-height: 1070px;
  margin: 0 auto;
  height: 100%;
  border-bottom: 1px solid #e1e7ea;
  height: 80px;
  z-index: 1;
}

/* Suggested Book */

.sbContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.sbHeader {
  font-size: 20px;
  color: #032b41;
  margin-bottom: 16px;
}

@media (max-width: 1600px) {
  .sbContainer {
    max-width: 700px;
    margin-left: 200px;
  }
}

@media (max-width: 768px) {
  .sbContianer,
  .sbContainer h1 {
    max-width: 100%;
    margin-left: 0;
  }
}

.sbInfo {
  display: flex;
  justify-content: space-between;
  width: calc((100% / 3) * 2);
  background-color: #fbefd6;
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 24px;
  margin-left: 4px;
  gap: 24px;
}
