.navContainer {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 64px;
  max-height: 1070px;
  margin: 0 auto;
  height: 100%;
  border-bottom: 1px solid #e1e7ea;
  height: 80px;
  z-index: 1;
}
