.libHeader span {
  font-size: 22px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 4px;
}

.libHeader p {
  font-weight: 300;
  color: #394547;
  margin: 16px 0;
}

.libBlockWrapper {
  background-color: #f1f6f4;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 32px;
  border-radius: 12px;
  margin: 0 auto 56px;
  text-align: center;
}

.libBlockWrapper h2 {
  color: #042330;
  font-weight: 600;
  font-size: 18px;
}

.libContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 1200px;
}

.libHeader {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  margin-top: 40px;
  text-align: left;
  max-width: 50%;
}

.bookSaved {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.bookHover {
  background-color: #f1f6f4;
  border-radius: 4px 4px 4px 4px;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 1500px) {
  .libWrapper {
    margin-left: 200px;
  }
}
