.loginTitle {
  font-size: 24px !important;
  font-weight: 700 !important;
  text-align: center;
  color: #032b41 !important;
  margin-bottom: 24px !important;
  margin-top: 12px !important;
}

.signupTitle {
  font-size: 24px !important;
  font-weight: 700 !important;
  text-align: center;
  color: #032b41 !important;
  margin-bottom: 24px !important;
  margin-top: 12px !important;
}

.formContainer input {
  padding: 4px !important;
}

.login__btn span {
  font-size: 16px !important;
  color: #242424 !important;
}

.login__btn:hover {
  background-color: #20ba68 !important;
  transition: all 300ms ease-all !important;
}

.input__field:hover {
  border-color: #20ba68 !important;
  transition: all 300ms ease-all !important;
}

.inputField__password:hover {
  border-color: #20ba68 !important;
  transition: all 300ms ease-all !important;
}
.customText {
  color: #032b41 !important;
  font-weight: 500 !important;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 16px 0px;
}

.textContainer:before,
.textContainer:after {
  content: "";
  flex: 1;
  border-bottom: 0.1rem solid lightgray !important;
  margin: 0 10px;
}

.guest__btn:hover {
  background-color: #032b41 !important;
}

.guest__btn {
  background-color: #3a579d !important;
}

.guest__btnContainer {
  display: flex;
  justify-content: space-between;
  max-width: 220px;
}

.guest__btnContainer span {
  font-size: 16px;
}

.google__btn {
  background-color: #4285f4 !important;
}

.google__btn span {
  font-size: 16px;
}

.google__btn:hover {
  background-color: #1e16c1 !important;
}

.google__btnContainer {
  max-width: 295px;
  display: flex;
  justify-content: space-between;
}

.forgot__pwdContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.forgot__pwdContainer span {
  text-align: center;
  color: #116be9 !important;
  font-size: 14px;
  font-weight: 300;
  width: fit-content;
  margin: 0 auto 16px;
  cursor: pointer;
}

.forgot__pwdContainer span:hover {
  text-decoration: underline;
}

.createAccount {
  background-color: #f1f6f4 !important;
  color: #116be9 !important;
  border-radius: 4px 4px 4px 4px !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  height: 40px;
  width: 100% !important;
}

.createAccount:hover {
  background-color: #e1e9e8 !important;
  transition: all 300ms ease-in-out !important;
}

.createAccount span {
  font-size: 16px;
  text-decoration: none !important;
}

.already__haveAccount {
  background-color: #f1f6f4 !important;
  color: #116be9 !important;
  border-radius: 4px 4px 4px 4px !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  height: 40px;
  width: 100% !important;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
}

.already__haveAccount:hover {
  background-color: #e1e9e8 !important;
  transition: all 150ms ease-in-out !important;
}

.errorMessage {
  color: red !important;
  font-size: 14px;
}
