.sectionTitle {
  text-align: left;
  border-bottom: 1px solid #e1e7ea;
  padding-bottom: 16px;
  font-size: 32px;
  color: #032b41;
  font-weight: bold;
}

.settingWrapper {
  margin: 56px auto;
  width: 100%;
  max-width: 1100px;
}

.settingContentTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  margin: 32px 0 32px 0;
  border-bottom: 1px solid #e1e7ea;
  padding-bottom: 24px;
}

.settingContentBtm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.settingContentTop h2,
.settingContentTop p,
.settingContentBtm h2,
.settingContentBtm p {
  font-size: 18px;
  color: #032b41;
}

.settingContentBtm p {
  padding-top: 8px;
}

.settingContentTop button {
  background-color: #2bd97c;
  height: 40px;
  width: 50%;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 180px;
}

.loginWrapper {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.loginWrapper h1 {
  font-size: 24px;
  font-weight: 700;
  color: #032b41;
  text-align: center;
  margin-bottom: 16px;
}

.premBtnWrapper button:hover {
  background-color: #044060 !important;
  transition: all 150ms ease-in-out;
}

.premBtnWrapper button {
  background-color: #2bd97c;
  color: #032b41;
  height: 40px;
  border-radius: 4px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  /* font-weight: 500; */
}

@media (max-width: 1560px) {
  .settingWrapper {
    margin-left: 236px;
  }
}
